<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/Inscription.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>

    <input type="checkbox" id="togglesidebar" class="togglesidebar">
    <label for="togglesidebar" class="togglesidebar">
      <span class="top_line"></span>
      <span class="mid_line"></span>
      <span class="bot_line"></span>
    </label>

    <aside class="sidebar">
      <ul>
        <li><label for="togglesidebar"><span>Close</span></label></li>
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="Funzion-login.html">Login</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="index.html#contact">Contact</a></li>
        <li><a href="index.html#about">About</a></li>
      </ul>
    </aside>


    <header>
        <h1>La Funzione</h1>
    </header>


    <main>
    <form action="https://www.cafe-it.fr/cytech/post.php" method="post">
        <fieldset>
            <div class="field">
                <label for="email">E-mail:</label>
                <input id="email" name="email" type="email" class="champ" placeholder="example@mail.com" required>
            </div>

            <div class="field">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" class="champ" placeholder="abcdefg..." required>
            </div>

            <div class="buttons-container">
                <button type="submit" class="button">Login</button>
                <button type="reset" class="button">Reset</button>
            </div>

            <a class="signup-link" href="Funzione-account-creation.html">No account? Sign up</a>
        </fieldset>
    </form>
</main>


    <footer>
      <ul>
        <li>La Funzione</li>
        <li><a href="index.html#about">About</a></li>
        <li><a href="index.html#faq">Q&A</a></li>
        <li><a href="allergens.html">Allergens</a></li>
        <li><a href="careers.html">Join Our Team</a></li>
      </ul>
      <ul>
        <li>Legal</li>
        <li><a href="terms-conditions.html">Terms&Conditions</a></li>
        <li><a href="privacy.html">Privacy</a></li>
        <li><a href="cookies.html">Cookies</a></li>
        <li><a href="profile.html">Your data</a></li>
      </ul>
      <ul>
        <li id="contact">Contact</li>
        <li><a href="mailto:contact@lafunzione.food">contact@lafunzione.food</a></li>
        <li><a href="tel:+0134251010">01 34 25 10 10</a></li>
      </ul>
      <ul>
        <li>Newsletter</li>
        <li>
          <form method="post" id="newsletter">
            <input type="text" placeholder="Enter e-mail address">
            <input type="submit" value="Subscribe">
          </form>
        </li>
      </ul>
      <span>For your health, eat 5 fruits and vegetables a day.</span>
      <span>&copy; 2026 <a href="about.html">La Funzione Inc.</a> | All rights reserved.</span>
    </footer>

</body>
</html>