<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NomNomLand</title>
    <link rel="stylesheet" href="login.css"/>
  </head>
  <body>
    <video autoplay muted loop id="bg-video">
  <source src="../assets/images/Coding-rain.mp4" type="video/mp4">
    </video>
    <main>
  <form action="https://www.cafe-it.fr/cytech/post.php" method="post">
    <fieldset>
      <legend>Connexion</legend>

      <div class="field">
        <label for="email">Adresse-mail:</label>
        <input id="email" type="email" class="champ">
      </div>
      <div class="field">
        <label for="code">Code secret:</label>
        <input id="code" type="password" placeholder="1234567890..." class="champ">
        
      </div>

      <a href="Funzione-account-creation.html">Pas de compte? S'inscrire</a>
      
    </fieldset>
  </form>
</main>
</body>
</html>