<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/Inscription.css">
</head>

<body>

<header>
    <h1>Bienvenido to the Funzione</h1>
    <a class="main-menu" href="#">Main menu</a>
</header>

<fieldset>
    <legend>Login</legend>

    <form action="https://www.cafe-it.fr/cytech/post.php" method="post">

        <div class="field">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" class="champ" required>
        </div>
        <div class="field">
            <label for="firstname">First name:</label>
            <input id="firstname" name="firstname" type="text" class="champ" required>
        </div>
        <div class="field">
            <label for="age">Age:</label>
            <input id="age" name="age" type="number" min="1" max="99" class="champ">
        </div>
        <div class="field">
            <label for="email">E-mail:</label>
            <input id="email" name="email" type="email" class="champ" required>
        </div>
        <div class="field">
            <label for="email-confirm">Reconfirm E-mail:</label>
            <input id="email-confirm" name="email-confirm" type="email" class="champ" required>
        </div>
        <div class="field">
            <label>Genre:</label>
            <input id="radio-homme" type="radio" name="genre" value="homme" checked>
            <label for="radio-homme">Homme</label>
            <input id="radio-femme" type="radio" name="genre" value="femme">
            <label for="radio-femme">Femme</label>
        </div>
        <div class="field">
            <label for="address">Address:</label>
            <input id="address" name="address" type="text"
                   pattern="^[0-9]+[ ]?[A-Za-zÀ-ÿ' -]+$"
                   placeholder="12 Rivoli Street Paris">
        </div>
        <div class="field">
            <label>Signing in</label>
            <button type="submit" class="button">
                Submit
                <img src="../assets/burger.png" class="burger b1" alt="">
                <img src="../assets/burger.png" class="burger b2" alt="">
                <img src="../assets/burger.png" class="burger b3" alt="">
                <img src="../assets/burger.png" class="burger b4" alt="">
                <img src="../assets/burger.png" class="burger b5" alt="">
            </button>
            <br><br>
            <label>Reset form</label>
            <button type="reset" class="button">
                Reset form
                <img src="../assets/burger.png" class="burger b1" alt="">
                <img src="../assets/burger.png" class="burger b2" alt="">
                <img src="../assets/burger.png" class="burger b3" alt="">
                <img src="../assets/burger.png" class="burger b4" alt="">
                <img src="../assets/burger.png" class="burger b5" alt="">

            </button>

        </div>

    </form>

</fieldset>

</body>
</html>
