<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NomNomLand</title>
    <link rel="stylesheet" href="../styles/connexion.css"/>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
  <source src="rain.mp4" type="video/mp4">
    </video>
    <main>
        <fieldset>
            <legend>Connexion</legend>
        <form action="https://www.cafe-it.fr/cytech/post.php" method="post">
            <div>Adresse-mail:</div>
            <div class="div2">
                <input type="email" name="Adresse-mail" class="champ"/>
            </div>
            <br/>
            <div class="div1">
                Mot de passe:
            </div>
            <div class="div2">
                <input type="text" name="Mot de passe" class="champ"/>
            </div>
            <br/>
            <div class="div2"> 
                  <input type="submit" name="sinscrire" value="S'inscrire" class="champ" />
            </div>
            <br/>
        </fieldset>
</form>
</main>
</body>
</html>