<!DOCTYPE HTML>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles/Inscription.css">
    </head>
    <body>
        <header>
            <h1>Bienvenido to the Funzione</h1>
            <a class="main-menu" href="zqdjkzoiqdjk">Main menu</a>
        </header>

        <fieldset>
            <legend>Login</legend>
            <form action="https://www.cafe-it.fr/cytech/post.php" method="post">
                <div class="field">
                <label for="Name">Name:</label>
                <input id="Name" type="text" class="champ">
            </div>
                <div class="field">
                <label for="Nom de famille">First name:</label>
                <input id="email" type="text" class="champ" required>
            </div>
            <div class="field">
                <label for="age">Age:</label>
                <input id="age" type="number" min="1" max="99" class="champ" maxlength="2">
            </div>
            <div class="field">
                <label for="email">E-mail:</label>
                <input id="email" type="email" class="champ">
            </div>
            <div class="field">
                <label for="email">Reconfirm E-mail:</label>
                <input id="email" type="email" class="champ" required>
            </div>
             <div class="field">
                <label for="genre">Genre:</label>
                <input id="Radio-homme" type="radio" name="genre" class="radio" checked> Homme
                <input id="Radio-femme" type="radio" name="genre" class="radio"> Femme
            </div>
            <div class="field">
                <label for="adress">Adress:</label>
                <input id="adress" type="text" pattern="^[0-9]+[ ]?+[A-Za-zÀ-ÿ' -]+([A-Za-zÀ-ÿ'-,]+)*$"  placeholder="12 Rivoli Street Paris">
            </div>
            <div class="field">
                <label for="Credit-card-info">Bank Info</label>
                <input id="Bank-Info" type="text" pattern="^[0-9]{16}$"  placeholder="1234567891011123" required>
                <label for="Exp-date">Expiration Date</label>
                <input type="datetime-local" id="Exp-date">
            </div>
            <div class="field">
                <label for="Submit">Signing in</label>
                <input type="submit" id="submit">
                <label for="Reset-form">Reset form</label>
                <button type="reset" id="reset">Reset the form</button>
            </div>
            
            </form>
        </fieldset>
    </body>