@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px);}
  to { opacity: 1; transform: translateY(0);}
}


:root{
    --black: rgb(15, 15, 15);
    --darkest-black: rgb(50,50,50);
    --gray: rgb(75,75,75);
}


html, body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
legend{
    text-align: center;
    font-size: xx-large;
    background-color:var(--gray);
    color:white;
    border-radius: 10px;
    border:1px solid #ccc;
    border-bottom: none;
}
fieldset{
    border-radius: 15px;
    background:linear-gradient(to top, var(--black) 0%, var(--darkest-black) 50%, var(--gray) 100%)
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

form {
  animation: fadeIn 1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: left; 
}


.field {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;
  font-size: 20px;
  padding: 15px;
  padding-left: 25px;
}

.champ {
  width: 200px;
  height:50px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}

label {
  width: 120px; 
  text-align: left; 
}
a{
    display: flex;
    justify-content: center;
    color: var(--solid-black);
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    font-size: larger;
    padding: 5px;
    border-radius: 5;
}
#bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -9999;
  filter:blur(5px);
}

input::placeholder{
    opacity: 0.5;
    font-size: 18px;
}

