<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NomNomLand</title>
    <link rel="stylesheet" href="../styles/main.css"/>
  </head>
  <body>
<main>
  <header>
    <h1 class="big-title">La Funzione</h1>
    <h2 class="Smaller-title">Depuis 1964, compilé en 2026</h2>
  </header>
  <nav class="searchbar">
    <span class="cmd">ls</span>
    <div class="input-container">
      <img src="../assets/images/videos/Commandes-ls.gif" class="gif-placeholder">
      <input type="text" class="terminal-input" value="~$ -">
    </div>
  </nav>

  <aside class="sidebar">
    <a href="#">Home</a>
    <a href="../views/Funzion-login.html">Login</a>
    <a href="#">Contact</a>
    <a href="#">About</a>
  </aside>

  <section class="center">
    <div class="incontournables">
      Plats phares
    </div>
  </section>

  <aside class="right">
    <!-- zone future -->
  </aside>

  <footer>
  </footer>

</main>

</body>

</html>
