<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>

    <link rel="icon" href="../assets/images/logo.ico">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/admin.css">
</head>
<body>
    <video autoplay muted loop playsinline id="background">
        <source src="../assets/videos/background.mp4" type="video/mp4">
    </video>
    <header>
        <h1 class="title">Welcome to the admin panel</h1>
    </header>

    <main>
        <section class="scrollable-container">
                <section class="articles">
                    <article class="addon">
                        <h3>Title</h3>
                        <button>Button</button>
                    </article>
                    <article class="addon">
                        <h3>Title</h3>
                        <button>Button</button>
                    </article>
                    <article class="addon">
                        <h3>Title</h3>
                        <button>Button</button>
                    </article>
                </section>
        </section>
    </main>

    <footer>
        <a href="./home.html">Home page</a>
    </footer>

</body>
</html>