.square.correct {
  border-right: var(--square-border-width) solid var(--secondary) !important;
  border-left: var(--square-border-width) solid var(--secondary) !important;
  border: var(--square-border-width) solid var(--secondary);
  border-radius: 6px;
}

.square.incorrect {
  border-radius: 6px;
  border-right: var(--square-border-width) solid var(--pastel-red) !important;
  border-left: var(--square-border-width) solid var(--pastel-red) !important;
  border: var(--square-border-width) solid var(--pastel-red);
}

.square.incorrect > .piece,
.square.correct > .piece {
  left: calc(-1 * var(--square-border-width)) !important;
  top: calc(-1 * var(--square-border-width)) !important;
}