/*--Global CSS--*/
@import url('https://fonts.cdnfonts.com/css/mina');
@import url('https://fonts.cdnfonts.com/css/bolonewt');

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --background: #303030;

    --primary-dark: #041B24;
    --primary-shadow: #103647;
    --primary: #27576B;
    --primary-highlight: #487A8F;
    --primary-bright: #78A9BF;

    --secondary-dark: #3A2003;
    --secondary-shadow: #704515;
    --secondary: #AA7539;
    --secondary-highlight: #E4AB6D;
    --secondary-bright: #FFD09B;

    --outline: #1e1e1f;
    --details: green;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    font-family: 'Mina', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 1;
}

/*--Page Layout--*/

body {
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr calc(83% - 0.7vw) 1fr;
    gap: 10px;
    background: var(--background);
    color: var(--white);
    overflow-x: hidden;
    overflow-y: hidden;
}
a{
    color: var(--black);
    text-decoration: none;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -99999;
    pointer-events: none;
}

header {
    color: var(--black);
    background: var(--secondary-highlight);
    border-bottom: 0.7vw solid var(--secondary-shadow);
    display: grid;
    place-items: center;
    align-content: center;
    grid-area: header;
}
header .title {
    padding: 1%;
    padding-bottom: 1.5%;
    font-family: 'Bolonewt', sans-serif;
    text-transform: uppercase;
    font-weight: 1;
    letter-spacing: 2px;
    white-space: pre-line;
    text-align: center;
}
header .logo {
    width: 80px;
    margin: 10px;
}

aside {
    grid-area: aside;
    align-items: center;
    max-height: 100%;
    overflow: visible;
    display: grid;
    gap: 10px;
}
aside .articles article {
    width: calc(100% - 14px);
    margin: 0px;
    padding: 7px;
    background: var(--primary);
    border: none;
    border-top: 4px solid var(--primary-highlight);
    border-bottom: 4px solid var(--primary-shadow);
}

main {
    align-items: center;
    max-height: 100%;
    grid-area: main;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 1fr;
    gap: 10px;
}

.scrollable-container {
    max-height: 95%;
    margin: 10px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.scrollable-container * {
    width: 100%;
}

.articles {
    overflow-x: hidden;
    outline: 4px solid var(--outline);
    display: grid;
    background: var(--primary);
    gap: 0;
}
  
.menu {
    max-width: 100%;
    margin: 0;
    padding: 7px;
    background: var(--primary);
    border: none;
    border-top: 4px solid var(--primary-highlight);
    border-bottom: 4px solid var(--primary-shadow);
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "img desc";
    overflow-wrap: anywhere;
}
.menu .imageLink {
    max-width: calc(98% - 14px);
    background: var(--white);
    margin: 10px;
    grid-area: img;
}
.menu .imageLink img {
    width: 100%;
    height: auto;
    outline: 4px solid var(--outline);
}
.menu .imageLink img:hover {
    opacity: 80%;
}
.menu h3 {
    grid-area: title;
    text-align: center;
}
.menu ul {
    width: calc(100% - 60px);
    margin: 0;
    margin-left: 25px;
    padding: 0;
    grid-area: desc;
}
.menu ul li {
    max-width: 100%;
    width: auto;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--primary-highlight);
}
.menu ul li:last-child {
    border: none;
}
.menu ul button {
    margin-top: 15px;
    padding-bottom: 15px;
}

footer{
    grid-area: footer;
    width: calc(100% - 16px);
    height: minmax(auto, 100%);
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--primary);
    border: none;
    border-top: 4px solid var(--primary-highlight);
    border-bottom: 4px solid var(--primary-shadow);
    padding: 4px;
    outline: 4px solid var(--outline);
    margin: 4px;
}

footer a{
    color: var(--white);
    text-decoration: none;
}

/*--Buttons--*/

input[type=text]{
    padding: 10px;
    width: 50%;
    height: auto;
    outline: 4px solid var(--outline);
    font-size: 20px;
    background: var(--primary-shadow);
    color: var(--white);
    border: none;
    border-top: 4px solid var(--primary-dark);
    caret-color: var(--details);
    margin: 10px;
    margin-left: 25%;
}
input[type=text]::placeholder {
    color: var(--secondary);
}

button{
    padding: 2%;
    margin: 5px;
    margin-top: 10px;
    width: calc(98% - 5px);
    outline: 4px solid var(--outline);
    font-size: min(1.2vw, 22px);
    background: var(--secondary);
    color: var(--outline);
    border: none;
    border-bottom: 4px solid var(--primary);
    box-shadow: inset 0 0 0 4px var(--secondary-highlight);
    cursor: pointer;
}
button:hover {
    background: var(--secondary-shadow);
    box-shadow: inset 0 0 0 4px var(--secondary);
}
button:active {
    border-bottom: 0px solid var(--secondary-dark);
    transform: translateY(4px);
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 9px;
}
button.green{
    outline: 4px solid var(--outline);
    background: #3c8527;
    color: var(--white);
    border-bottom: 4px solid #1d4d13;
    box-shadow: inset 0 0 0 4px #639d52;
}
button.green:hover {
    background: #2a641c;
}
button.green:active {
    border-bottom: 0px solid #1d4d13;
}
button.purple{
    outline: 4px solid var(--outline);
    background: #7345e5;
    color: var(--white);
    border-bottom: 4px solid #4a1cac;
    box-shadow: inset 0 0 0 4px #a164f2;
}
button.purple:hover {
    background: #5d2cc6;
}
button.purple:active {
    border-bottom: 0px solid #4a1cac;
}
button.red{
    outline: 4px solid var(--outline);
    background: #ca3636;
    color: var(--white);
    border-bottom: 4px solid #ad1d1d;
    box-shadow: inset 0 0 0 4px #cf4a4a;
}
button.red:hover {
    background: #a72626;
}
button.red:active {
    border-bottom: 0px solid #ad1d1d;
}

/*--Scrollbar--*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: var(--secondary-dark);
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-highlight);
    border-bottom: 5px solid var(--secondary-dark);
    outline: 3px solid var(--black);
    box-shadow: inset 0 0 0 2px var(--secondary);
    
}

/*--Too wide--*/

@media screen and (min-width: 1890px) and (max-height: 1080px){
    body {
        grid-template-rows: 1fr 80% 1fr;
        gap: 5px;
    }
    aside {
        grid-template-rows: 55vh 1fr;
        gap: 5px;
        font-size: 1.7vh;
    }
}
@media screen and (min-width: 2860px) and (max-height: 1080px){
    body {
        grid-template-rows: 1fr 75% 1fr;
        gap: 5px;
    }
    aside {
        grid-template-rows: 48vh 1fr;
        gap: 5px;
        font-size: 1.7vh;
    }
}
@media screen and (min-width: 2520px) and (max-height: 1440px){
    body {
        grid-template-rows: 1fr 80% 1fr;
        gap: 5px;
    }
    aside {
        grid-template-rows: 55vh 1fr;
        gap: 5px;
        font-size: 1.7vh;
    }
}
@media screen and (min-width: 3810px) and (max-height: 1440px){
    body {
        grid-template-rows: 1fr 75% 1fr;
        gap: 5px;
    }
    aside {
        grid-template-rows: 48vh 1fr;
        gap: 5px;
        font-size: 1.7vh;
    }
}
@media screen and (min-width: 3780px) and (max-height: 2160px){
    body {
        grid-template-rows: 1fr 80% 1fr;
        gap: 5px;
    }
    aside {
        grid-template-rows: 55vh 1fr;
        gap: 5px;
        font-size: 1.7vh;
    }
}
@media screen and (min-width: 5720px) and (max-height: 2160px){
    body {
        grid-template-rows: 1fr 75% 1fr;
        gap: 5px;
    }
    aside {
        grid-template-rows: 48vh 1fr;
        gap: 5px;
        font-size: 1.7vh;
    }
}

/*--Nest hub--*/

@media screen and (min-width: 995px) and (max-height: 850px){
    body {
        gap: 5px;
    }
    footer {
        font-size: 1.4vh;
    }
    input[type=text]{
        padding: 5px;
        height: auto;
        font-size: 15px;
        margin: 5px;
        margin-left: 25%;
    }
}

/*--Too small height--*/
@media screen and (min-width: 995px) and (max-height: 575px){
    body {
        grid-template-rows: 1fr 77% 1fr;
        gap: 5px;
    }
    aside {
        gap: 5px;
    }
    footer {
        font-size: 1.6vh;
    }
}
@media screen and (min-width: 995px) and (max-height: 490px){
    body {
        grid-template-rows: 1fr 77% 0%;
        gap: 5px;
    }
    aside {
        grid-template-rows: 47vh 1fr;
        gap: 5px;
    }
    footer {
        height: 0px;
    }
}

/*--Mobile--*/

@media screen and (max-width: 995px) {
    body {
        grid-template-columns: 100% 0fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-rows: auto 90% minmax(3%, auto);
        gap: 5px;
    }
    header .title {
        padding: 1%;
        padding-bottom: 1.5%;
        font-size: 25px;
        letter-spacing: 2px;
    }
    aside {
        width: 1px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .scrollable-container {
        max-height: 95%;
        margin: 2px;
        padding: 3px;
        width: 97%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .articles {
        width: 98%;
    }
    .menu .whiteImgContainer {
        max-width: calc(97% - 14px);
        margin: 1%;
    }
    .menu {
        max-width: 100%;
        margin: 0;
        padding: 7px;
        background: var(--primary);
        border: none;
        border-top: 4px solid var(--primary-highlight);
        border-bottom: 4px solid var(--primary-shadow);
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "img"
        "title"
        "desc";
        font-size: 12px;
    }
    .menu ul {
        width: calc(100% - 50px);
        margin-left: 15px;
    }
    .menu ul li {
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgb(129, 129, 129);
    }
    footer{
        font-size: 1.3vh;
    }
    button {
        margin-left: 0;
        font-size: 15px;
    }
}