body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.infos {
  margin: 0;
  padding: 2rem;
  width: 90%;
  height: 90%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}


#delivery-info dt {
  font-weight: bold;
  margin-top: 1rem;
}
#delivery-info {
  font-size: 1.4rem;
}

.popup {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(6px);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}

#toggle:checked ~ .popup {
  display: block;
}

.popup dl {
  display: block;
  margin: 5vh auto;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  overflow-y: auto;
}
.popup dl dd:last-of-type {
  padding-bottom: 3rem;
}
.popup dl a {
  color: var(--pastel-blue);
}

section label {
  font-size: 1.6rem;
  background: var(--primary);
  color: var(--secondary);
  border: 0.2rem solid var(--secondary);
  border-radius: 3rem;
  transition: all 0.1s;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
}

section label:hover {
  color: var(--primary);
  background: var(--secondary-bright);
  border: 0.2rem solid var(--secondary-bright);
  box-shadow: 0 0 1rem var(--secondary-hot);
}

section input[type="submit"] {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
}

section button[name="action"] {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
}

.close {
  position: fixed;
  bottom: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: min(250px, 90%);
  text-align: center;
}

iframe {
  border-radius: 10px;
  height: 70%;
  width: 100%;
  border: 0.2rem solid var(--secondary-shadow);
  border-radius: 3rem;
}