/*--Global CSS--*/
@import url('https://fonts.cdnfonts.com/css/mina');
@import url('https://fonts.cdnfonts.com/css/bolonewt');

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --background: #303030;

    --primary-dark: #041B24;
    --primary-shadow: #103647;
    --primary: #27576B;
    --primary-highlight: #487A8F;
    --primary-bright: #78A9BF;

    --secondary-dark: #3A2003;
    --secondary-shadow: #704515;
    --secondary: #AA7539;
    --secondary-highlight: #E4AB6D;
    --secondary-bright: #FFD09B;

    --outline: #1e1e1f;
    --details: green;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    font-family: 'Mina', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 1;
}

/*--Page Layout--*/

body {
    max-width: 100vw;
    max-height: 100vh;
    background: var(--background);
    color: var(--white);
    overflow-x: hidden;
    overflow-y: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -99999;
    pointer-events: none;
}

header {
    color: var(--black);
    background: var(--secondary-highlight);
    border-bottom: 0.7vw solid var(--secondary-shadow);
}
header > h1 {
    padding: 10px;
    font-family: 'Bolonewt', sans-serif;
    text-transform: uppercase;
    font-weight: 1;
    letter-spacing: 2px;
    text-align: center;
}
header > h2 {
    padding: 10px;
    font-weight: 1;
    text-align: center;
}

aside {
    
}

main {
    
}

footer{
    width: calc(100% - 16px);
    height: minmax(auto, 100%);
    overflow: hidden;
    background: var(--primary);
    border: none;
    border-top: 4px solid var(--primary-highlight);
    border-bottom: 4px solid var(--primary-shadow);
    padding: 4px;
    outline: 4px solid var(--outline);
    margin: 4px;
}

footer a{
    color: var(--white);
    text-decoration: none;
}

/*--Buttons--*/

input[type=text]{
    padding: 10px;
    width: 50%;
    height: auto;
    outline: 4px solid var(--outline);
    font-size: 20px;
    background: var(--primary-shadow);
    color: var(--white);
    border: none;
    border-top: 4px solid var(--primary-dark);
    caret-color: var(--details);
    margin: 10px;
    margin-left: 25%;
}
input[type=text]::placeholder {
    color: var(--secondary);
}

/*--Scrollbar--*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: var(--secondary-dark);
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-highlight);
    border-bottom: 5px solid var(--secondary-dark);
    outline: 3px solid var(--black);
    box-shadow: inset 0 0 0 2px var(--secondary);
    
}

/*--Too wide--*/

@media screen and (min-width: 1890px) and (max-height: 1080px){
}
@media screen and (min-width: 2860px) and (max-height: 1080px){
}
@media screen and (min-width: 2520px) and (max-height: 1440px){
}
@media screen and (min-width: 3810px) and (max-height: 1440px){
}
@media screen and (min-width: 3780px) and (max-height: 2160px){
}
@media screen and (min-width: 5720px) and (max-height: 2160px){
}

/*--Nest hub--*/

@media screen and (min-width: 995px) and (max-height: 850px){
}

/*--Too small height--*/
@media screen and (min-width: 995px) and (max-height: 575px){
}
@media screen and (min-width: 995px) and (max-height: 490px){
}

/*--Mobile--*/

@media screen and (max-width: 995px) {
}