/*--Global CSS--*/
@import url('https://fonts.cdnfonts.com/css/mina');
@import url('https://fonts.cdnfonts.com/css/bolonewt');

:root{
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  --background: #303030;

  --primary-dark: #010101;
  --primary-shadow: #121212;
  --primary: #1c1c1c;
  --primary-highlight: #333333;
  --primary-bright: #484848;

  --primary-shadow-04: rgba(18, 18, 18, 0.4);
  --primary-highlight-04: rgba(51, 51, 51, 0.4);

  --secondary-dark: #0C4400;
  --secondary-shadow: #0E5000;
  --secondary: #105C00;
  --secondary-highlight: #126700;
  --secondary-bright: #187305;

  --secondary-cold-dark: #004C29;
  --secondary-cold-shadow: #004224;
  --secondary-cold: #004C29;
  --secondary-cold-highlight: #00562F;
  --secondary-cold-bright: #045F36;

  --secondary-hot-dark: #2B4B00;
  --secondary-hot-shadow: #335800;
  --secondary-hot: #3A6500;
  --secondary-hot-highlight: #427200;
  --secondary-hot-bright: #4B7E05;

  --shaded-glass-dark: #0f0f0f80;
  --shaded-glass-shadow: #1d1d1d80;
  --shaded-glass: #29292980;
  --shaded-glass-highlight: #36363680;
  --shaded-glass-bright: #58585880;

  --outline: #1e1e1f;
  --details: green;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Mina', sans-serif;
}

/*--Buttons--*/
button {
  background: var(--primary);
  color: var(--secondary);
  border: 0.2rem solid var(--secondary);
  border-radius: 3rem;
  transition: all 0.1s;
  cursor: pointer;
}
button:hover {
  color: var(--primary);
  background: var(--secondary-bright);
  border: 0.2rem solid var(--secondary-bright);
  box-shadow: 0 0 1rem var(--secondary-hot);
}
input[type="submit"] {
  background: var(--primary);
  color: var(--secondary);
  border: 0.2rem solid var(--secondary);
  border-radius: 3rem;
  transition: all 0.1s;
  cursor: pointer;
}
input[type="submit"]:hover {
  color: var(--primary);
  background: var(--secondary-bright);
  border: 0.2rem solid var(--secondary-bright);
  box-shadow: 0 0 1rem var(--secondary-hot);
}

/*--Animate--*/
@keyframes viewCard {
  0%, 100% {
    filter: blur(0.1rem);
    transform: scale(0.8);
    opacity: 0.4;
  }

  50% {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

/*--Page Layout--*/

body {
  max-width: 100vw;
  max-height: 100vh;
  background: var(--background);
  color: var(--white);
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 1;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -99999;
  user-select: none;
  pointer-events: none;
}

header {
  color: var(--secondary);
  background: var(--primary);
  border: 0.2rem solid var(--secondary-shadow);
  box-shadow: 0 0 10px #004C29;
  border-radius: 15px;
  width: clamp(300px, 50%, 1000px);
  padding: 0;
  margin: 0;
  font-weight: 1;
  padding: 15px;
  margin: 10px auto;
}
header > h1 {
  font-family: 'Bolonewt', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(to bottom, var(--secondary-bright), var(--secondary-cold-shadow));
  background-clip: text;
  color: transparent;
  padding: 0;
  margin: 0;
  font-weight: 1;
  padding: 10px;
  letter-spacing: 2px;
  text-align: center;
}
header > h2 {
  padding: 0;
  margin: 0;
  font-weight: 1;
  padding: 10px;
  text-align: center;
}

input.togglesidebar {
  position: fixed;
  height: 0px;
  width: 0px;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: none;
  visibility: hidden;
}
label.togglesidebar {
  z-index: 6;
  position: fixed;
  height: 60px;
  width: 60px;
  top: 5px;
  left: 7px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary);
  box-shadow: 0 0 15px var(--primary-shadow);
  border: none;
}
label.togglesidebar span {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: 0.3s ease;
}
label.togglesidebar span.top_line {
  top: 30%;
  left: 50%;
  width: 35px;
  transform: translate(-50%, -50%);
}
label.togglesidebar span.mid_line {
  top: 50%;
  left: 50%;
  width: 35px;
  transform: translate(-50%, -50%);
}
label.togglesidebar span.bot_line {
  top: 70%;
  left: 50%;
  width: 35px;
  transform: translate(-50%, -50%);
}
input.togglesidebar:checked ~ .togglesidebar .top_line {
  left: 5px;
  top: 30px;
  width: 50px;
  transform: rotate(45deg);
}
input.togglesidebar:checked ~ .togglesidebar .mid_line {
  opacity: 0;
  transform: translateX(20px);
}
input.togglesidebar:checked ~ .togglesidebar .bot_line {
  left: 5px;
  top: 30px;
  width: 50px;
  transform: rotate(-45deg);
}

aside.sidebar {
  height: 100%;
  width: 25%;
  min-width: 375px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  background-color: var(--shaded-glass);
  backdrop-filter: blur(6px);
  overflow-x: hidden;
  font-size: 2rem;
  border-radius: 0 25px 25px 0;
  border: 3px solid var(--shaded-glass-shadow);
  border-left: none;
  filter: drop-shadow(0 0 10px var(--primary));

  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(.25,0,.5,1), opacity 0.25s ease;
}
input.togglesidebar:checked ~ aside.sidebar {
  transform: translateX(0);
  opacity: 1;
}
aside.sidebar a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--secondary-highlight);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
aside.sidebar ul {
  padding: 0;
  margin: 0;
  font-weight: 1;
}
aside.sidebar li {
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color: var(--secondary-highlight);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
aside.sidebar li:first-child label {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
aside.sidebar li:first-child label span {
  margin-left: 65px;
}
aside.sidebar li svg {
  width: 50px;
  height: auto;
  fill: var(--secondary);
}
aside.sidebar li:hover {
  box-shadow: 0 10px 5px var(--primary-shadow-04),
  0 -8px 10px var(--primary-highlight-04);
  color: var(--secondary-highlight);
}
aside.sidebar li:hover svg {
  fill: var(--secondary-highlight);
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

section.carousel {
  width: 100%;
  max-height: 75vh;
  margin: 1rem auto 1.5rem auto;
  display: flex;
  gap: 2rem;

  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}
section.carousel::-webkit-scrollbar {
  display: default;
}
section.carousel::scroll-marker-group {
  transform: translateY(-1.2rem);
  display: flex;
  justify-content: center;
  gap: .5em;
}
section.carousel article {
  background: var(--primary);
  border: 0.2rem solid var(--primary-bright);
  border-radius: 3rem;
  
  flex: 0 0 clamp(15rem, 60%, 80rem);
  aspect-ratio: 7/5;

  padding: 3rem;

  scroll-snap-align: center;

  animation: viewCard ease both;
  animation-timeline: view(x);
  animation-range: entry 10% exit 90%;
}
section.carousel article::scroll-marker {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  background: var(--primary);
  border-radius: 50%;
}
section.carousel article:first-child::scroll-marker {
  display: none;
}
section.carousel article:last-child::scroll-marker {
  display: none;
}
section.carousel article::scroll-marker:target-current {
  background: var(--secondary);
}

section.searchbar {
  padding: 10px;
  width: clamp(300px, 50%, 800px);
  height: auto;
  font-size: 1.5rem;
  color: var(--secondary);
  background: var(--primary);
  border: 0.2rem solid var(--secondary-shadow);
  border-radius: 15px;
  margin: 1rem auto;
  transition: all 0.5s;
}
section.searchbar span {
  width: 10%;
  color: var(--secondary);
}
section.searchbar input[type="text"] {
  caret-color: var(--secondary-bright);
  padding: 10px 0 10px 0;
  width: 90%;
  height: auto;
  outline: none;
  color: var(--secondary);
  font-size: 1.5rem;
  background: none;
  border: none;
}
section.searchbar input[type="text"]::placeholder {
  color: var(--secondary-cold-shadow);
}

footer {
  width: calc(100% - 16px);
  height: min(auto, 100%);
  overflow: hidden;
  background: var(--primary);
  border: none;
  padding: 10px;
}

footer > span {
  display: block;
}

footer a{
  color: var(--white);
  text-decoration: none;
}

/*--Scrollbar--*/

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-dark);
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border: 0.2rem solid var(--primary);
  border-radius: 15px;
}

/*--Too wide--*/

@media screen and (min-width: 1890px) and (max-height: 1080px){
}
@media screen and (min-width: 2860px) and (max-height: 1080px){
}
@media screen and (min-width: 2520px) and (max-height: 1440px){
}
@media screen and (min-width: 3810px) and (max-height: 1440px){
}
@media screen and (min-width: 3780px) and (max-height: 2160px){
}
@media screen and (min-width: 5720px) and (max-height: 2160px){
}

/*--Nest hub--*/

@media screen and (min-width: 995px) and (max-height: 850px){
}

/*--Too small height--*/
@media screen and (min-width: 995px) and (max-height: 575px){
}
@media screen and (min-width: 995px) and (max-height: 490px){
}

/*--Mobile--*/

@media screen and (max-width: 995px) {
  header > h2 {
    font-size: 1.2rem;
  }
  section.searchbar {
    font-size: 1rem;
  }
  section.searchbar input[type="text"]{
    font-size: 1rem;
  }
}
