:root{
  --lightgray: rgb(185, 185, 185);
  --solid-black: rgb(0, 0, 0);
  --blue-900: #041B24;
  --blue-800: #103647;
  --blue-700: #27576B;
  --blue-600: #487A8F;
  --blue-500: #78A9BF;
  --orange-900: #3A2003;
  --orange-800: #704515;
  --orange-700: #AA7539;
  --orange-600: #E4AB6D;
  --orange-500: #FFD09B;
  --black: rgb(15, 15, 15);
  --darkest-black: rgb(50,50,50);
  --gray: rgb(75,75,75);
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes grow{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
}
}
.center{
  grid-area: center;
  margin-top: 25px;
  border: #C3C3C3 .5px solid;
}
.Connexion-pannel:hover{
  animation: grow .8s ease-in-out forwards;
}
.right{
  grid-area: right;
}

/*img:hover{
  animation: spin 1s ease-in;
}*/
.incontournables{
  color: white;
  text-align: center;
}
.container {
    overflow: hidden;
    /* Cache les éléments qui dépassent du container */
}
.carousel{
  position: relative;
}
.carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    height: 100vh;
    /* Hauteur égale à 100% de la hauteur de la vue */
    flex-wrap: nowrap;
    /* Empêche les élé
    ments de se placer sur plusieurs lignes */
}
.slide {
    flex: 0 0 100%;
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: .5s ease-in-out;
    /* Ajout d'une animation douce pour la transition entre les diapositives */
}
.slide img {
    width: 100%;
    /* Largeur de l'image est de 100% */
    height: 100%;
    /* Hauteur de l'image est de 100% */
    object-fit: cover;
    /* Couvre tout l'espace disponible */
}
.carousel-controls {
    position: absolute;
    /* Les boutons sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 10%;
    /* La distance à gauche est de 10% */
    right: 10%;
    /* La distance à droite est de 10% */
    top: 50%;
    /* La distance du haut est de 50% */
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
}
.carousel-controls button {
    padding: 10px;
    /* Ajout de padding pour un meilleur contrôle */
    background-color: aquamarine;
    /* Arrière-plan en aquamarine */
}

/* Définition des points de contrôle */
.carousel-dots {
    position: absolute;
    /* Les points sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 50%;
    /* La distance à gauche est de 50% */
    right: 50%;
    /* La distance à droite est de 50% */
    bottom: 10%;
    /*La distance du bas est de 10% */
    display: flex;
    /* Affiche les points en ligne */
    justify-content: center;
    /* Centrage des points */
}

/* Style des points de contrôle */
.carousel-dots .dot {
    border-radius: 50%;
    /* Les points sont en forme de cercle */
    margin: 5px;
    /* Ajout d'un margin pour un meilleur contrôle */
    cursor: pointer;
    /* Curseur en forme de main pour un meilleur contrôle */
}

/* Styles pour les points de navigation du carrousel */
.carousel-dots .active {
    /* Border de 10px pour le point actif */
    border: 10px solid #761530 !important;
    /* !important permet de surcharger les autres styles éventuels */
}

.carousel-dots .inactive {
    /* Border de 10px pour les points inactifs */
    border: 10px solid #2596be;
}
main{
  display:grid;

  grid-template-areas:
    "header header header"
    "nav nav nav"
    "left center right"
    "footer footer footer";

  grid-template-columns: 220px 1fr 220px;
  grid-template-rows: auto auto 1fr auto;

  min-height: 100vh;
  gap: 15px;
  padding: 15px;
}

html, body {
    min-height: 100%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background:linear-gradient(to top, var(--black) 0%, var(--darkest-black) 50%, var(--gray) 100%);
}

/*body {
  margin: 0;
  background: linear-gradient(
    to top,
    var(--blue-900) 0%,
    var(--blue-700) 50%,
    var(--blue-500) 100%
  );
  background-repeat: no-repeat;
}
*/

body{
  border-radius: 15px;
  min-height: 100vh;
}
header {
  grid-area: header;
  /*border-bottom: 2px solid var(--solid-black);*/
  background-color: var(--lightgray);
  border-radius: 15px;
  position: sticky;
}

.big-title{
  font-size: 200%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.searchbar{
  grid-area: nav;
  color: white;
  padding: 20px;
  padding-bottom: 30px;
  font-size: large;
  margin: auto;
  border: white .5px solid;
  border-radius: 5px;
}
.sidebar{
  grid-area: left;
  background-color: var(--blue-500);
  border-radius: 5px;
  box-shadow:2px 2px 5px var(--solid-black);
  padding: 15px;
}
.footer{
  grid-area: footer;
}

.sidebar a{
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: larger;
}
.sidebar a:hover{
  background-color: var(--blue-700);
  color: white;
}
.sidebar a:active{
  background-color: var(--blue-900);
  text-decoration: underline;
  color: white;
}

.Smaller-title{
  font-size: 120%;
  text-align: center;
  letter-spacing: 1px;
  padding: 25px;;
}
.searchbar{
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  letter-spacing: 3px;
  font-weight: bold;
  color:#C3C3C3;
}
.input-container{
  position: relative;
  display: inline-block;
}

.terminal-input{
  background: black;
  color: white;
  border: none;
  padding: 10px 45px 10px 10px;
  font-family: monospace;
  font-size: 16px;
  width: 150px;
}

.gif-placeholder{
  position: absolute;
  top:15%;
  size-adjust: auto;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s;
}
.terminal-input:not(:focus){
  opacity: 0;
}

.input-container:focus-within .gif-placeholder{
  opacity: 0;
}

.terminal-input:not(:placeholder-shown) + .gif-placeholder{
  opacity: 0;
}

/*Version avec des z-index à la place
.terminal-input:focus{
  z-index: 1;
}


.input-container:focus-within .gif-placeholder{
  z-index: -1;
}

.terminal-input:not(:placeholder-shown) + .gif-placeholder{
  opacity: 0;
}

*/