:root{
  --lightgray: rgb(185, 185, 185);
  --solid-black: rgb(0, 0, 0);
  --blue-900: #041B24;
  --blue-800: #103647;
  --blue-700: #27576B;
  --blue-600: #487A8F;
  --blue-500: #78A9BF;
  --orange-900: #3A2003;
  --orange-800: #704515;
  --orange-700: #AA7539;
  --orange-600: #E4AB6D;
  --orange-500: #FFD09B;
  --black: rgb(15, 15, 15);
  --darkest-black: rgb(50,50,50);
  --gray: rgb(75,75,75);
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes grow{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
}
}

.Connexion-pannel:hover{
  animation: grow .8s ease-in-out forwards;
}
/*img:hover{
  animation: spin 1s ease-in;
}*/


main{
  display:grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "left-aside center right-aside"
  "left-aside center right-aside"
  "left-footer footer right-aside";
  grid-template-rows: clamp(150px, auto, 175px) 50px auto auto 40px;
  grid-template-columns:auto 45% auto;
}
html, body {
    min-height: 100%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background:linear-gradient(to top, var(--black) 0%, var(--darkest-black) 50%, var(--gray) 100%);
}

/*body {
  margin: 0;
  background: linear-gradient(
    to top,
    var(--blue-900) 0%,
    var(--blue-700) 50%,
    var(--blue-500) 100%
  );
  background-repeat: no-repeat;
}
*/
header {
  grid-area: header;
  /*border-bottom: 2px solid var(--solid-black);*/
  inset: inherit;
  background-color: var(--lightgray);
  border-radius: 15px;
  position: sticky;
}
.big-title{
  font-size: 200%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.searchbar{
  grid-area: nav;
  color: white;
  padding: 20px;
  padding-bottom: 30px;
  font-size: large;
  margin: auto;
  border: #FFD09B 2px solid;
}
.sidebar{
  grid-area: left-aside;
  background-color: var(--blue-500);
  position:absolute;
  height:grid;
  border-radius: 5px;
  box-shadow:2px 2px 5px var(--solid-black);
  padding: 15px;
}

.sidebar a{
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: larger;
}
.sidebar a:hover{
  background-color: var(--blue-700);
  color: white;
}
.sidebar a:active{
  background-color: var(--blue-900);
  text-decoration: underline;
  color: white;
}

.Smaller-title{
  font-size: 120%;
  text-align: center;
  letter-spacing: 1px;
  padding: 25px;;
}
.searchbar{
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  letter-spacing: 3px;
  font-weight: bold;
  color:#C3C3C3;
}
.input-container{
  position: relative;
  display: inline-block;
}

.terminal-input{
  background: black;
  color: white;
  border: none;
  padding: 10px 45px 10px 10px;
  font-family: monospace;
  font-size: 16px;
  width: 150px;
}

.gif-placeholder{
  position: absolute;
  top:15%;
  size-adjust: auto;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s;
}
.terminal-input:not(:focus){
  opacity: 0;
}

.input-container:focus-within .gif-placeholder{
  opacity: 0;
}

.terminal-input:not(:placeholder-shown) + .gif-placeholder{
  opacity: 0;
}

/*Version avec des z-index à la place
.terminal-input:focus{
  z-index: 1;
}


.input-container:focus-within .gif-placeholder{
  z-index: -1;
}

.terminal-input:not(:placeholder-shown) + .gif-placeholder{
  opacity: 0;
}

*/