:root{
  --lightgray: rgb(185, 185, 185);
  --deepblue: rgb(14, 78, 199);
  --brightred: rgb(255, 83, 60);
  --solid-black: rgb(0, 0, 0);
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

img:hover{
  animation: spin 1s ease-in;
}

h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 300%;
}

main{
  display:grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "left-upper-main upper-main right-aside"
  "left-lower-main lower-main right-aside"
  "left-footer footer right-aside";
  grid-template-rows: clamp(80px, auto, 150px) 50px auto auto 40px;
  grid-template-columns:auto 65% auto;
}

header {
  grid-area: header;
  background-color: var(--lightgray);
  border-bottom: 2px solid var(--solid-black);
}
