:root{
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  --background: #303030;

  --primary-dark: #010101;
  --primary-shadow: #121212;
  --primary: #1c1c1c;
  --primary-highlight: #333333;
  --primary-bright: #484848;

  --primary-shadow-04: rgba(18, 18, 18, 0.4);
  --primary-highlight-04: rgba(51, 51, 51, 0.4);

  --secondary-dark: #0C4400;
  --secondary-shadow: #0E5000;
  --secondary: #105C00;
  --secondary-highlight: #126700;
  --secondary-bright: #187305;

  --secondary-cold-dark: #004C29;
  --secondary-cold-shadow: #004224;
  --secondary-cold: #004C29;
  --secondary-cold-highlight: #00562F;
  --secondary-cold-bright: #045F36;

  --secondary-hot-dark: #2B4B00;
  --secondary-hot-shadow: #335800;
  --secondary-hot: #3A6500;
  --secondary-hot-highlight: #427200;
  --secondary-hot-bright: #4B7E05;

  --shaded-glass-dark: #0f0f0f80;
  --shaded-glass-shadow: #1d1d1d80;
  --shaded-glass: #29292980;
  --shaded-glass-highlight: #36363680;
  --shaded-glass-bright: #58585880;

  --outline: #1e1e1f;
  --details: green;
  --neon: #39ff14;
}
.return0{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    font-size: 200%;
    font-weight: bold;
}
h1{
    text-align: center;
}

.liste{
    border:2px solid #ffffff;
    text-align: center;
}

.liste li{
    border-bottom: 2px solid var(--white) ;
    list-style: none;
    text-align: center;
    height: fit-content;
    width: 100%;
}


.liste {
   padding: 0;
   margin-left: 25%;
   margin-right: 25%;

}

.texte {
    font-size: 20px;
}

.image-menu {
    width: 350px;
}
a{
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

.modal{
    display:none;
    visibility: hidden;
    opacity: 0;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(77,77,77, .7);
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal:target{
    display:flex;
    visibility: visible;
    opacity: 1;
    transition: .25s ease-in-out;
}

.modal_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--primary-shadow);
    padding: 1.5em 2em;
    max-height: 80vh;      
    overflow-y: scroll;
    max-width: 90%;
    color: var(--white);
    border-radius: 5px;
    position: relative;
}
.dish-section li{
    font-weight: bold;
    text-shadow: 0 0 3px var(--details);
}
.modal_content ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.modal_close{
    position:fixed;
    font-size: 3rem;
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}
@media (max-width: 768px) {
    .texte {
        font-size: 16px;
    }

    .image-menu {
        width: 200px;
    }
    .menu-layout {
        flex-direction: column;
    }
}

a.link{
    text-decoration: none;
    color: var(--white);
}
a.link:visited {
    text-decoration: none;
    color: var(--white);
}
.dish-title {
    padding-top: 10px;
    text-align: center;
    color: var(--neon);
    text-shadow: 0 0 2px var(--secondary-bright);
    margin-bottom: 5px;
}

.dish-version {
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
}


.dish-section h3 {
    color: var(--neon);
    margin-bottom: 10px;
    font-size: 18px;
    text-shadow: 1px 1px 2px var(--secondary);
}

.dish-section {
    width: 100%;
    text-align: left;

}

.dish-section li {
    list-style: none;
    margin-bottom: 8px;
    font-size: 14px;
}
.devnote ul{
    list-style:none;
    font-size: small;
    font-style: italic;
}
.devnote {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--secondary-hot-bright);
}
.dish-footer {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid var(--primary-highlight);
    color: var(--secondary-bright);
    text-align: center;
}
.dish-img{
    margin:auto;
    border: 2px solid var(--secondary-cold-shadow);
    box-shadow: 0 0 2px 1px var(--details);
    width: clamp(220px, 50vw, 600px);
    max-width: 100%;
    height: auto;
}

.menu-layout {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px auto;
  width: 80%;
}
.menu-left {
  flex: 2;
}

.menu-right {
  flex: 2;
}

.menu-left .liste,
.menu-right .liste {
  margin: 0;
}

.menu-left h2,
.menu-right h2 {
  text-align: center;
  color: var(--neon);
}
ul li:last-child {
    border-bottom: none;
}

.menu-img {
    width: 200px; 
    height: auto;
    margin: auto; 
}


.cards-container {
    display: flex;          
    gap: 20px;               
    justify-content: center;
    flex-wrap: wrap;
}

ul.liste.card {
    width: 200px;            
    list-style: none;
    background-color: var(--primary-shadow); 
    border-radius: 5px;
    box-shadow: 0 0 5px var(--black);
}
