div.background-blur {
    display: none;
    visibility: hidden;
    opacity: 0;
    inset: unset;
}
div.background-blur.active {
    display: block;
    visibility: visible;
    opacity: 1;
    inset: 0;
}

/* Cache checkbox */
.modalToggle {
    display: none;
}

/* Container modal */
.modal {
    display: none;
}

/* Affichage si checked */
.modal:has(.modalToggle:checked) {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
}

/* Contenu centré */
.modalContent {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: clamp(18rem, 80%, 80rem);
    height: auto;
    min-height: 80%;
    max-height: 99%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    padding: 2rem;
    overflow: auto;
}
.modalContent .ordersContainer {
    margin: 0;
}
.modalContent div {
    width: 100%;
}
.modalContent div.deliveryInfo {
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.modalContent div.deliveryInfo svg {
    fill: var(--secondary);
    width: 5rem;
}
.modalContent div.deliveryInfo p {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.modalContent button {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.orders {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    gap: 2rem;
    justify-content: center;
}
.orders > p {
    text-align: center;
}

.orderCard {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.2rem;
}
.orderCard h3 {
    width: 100%;
    text-align: center;
    margin: 0;
}
.orderCard ul {
    width: 100%;
    margin: 0;
    flex: 1;
}
.orderCard label.openModalBtn {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}
.orderCard label.closeBtn {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

h2 {
    text-align: center;
}

.orders label:not(.background-blur) {
    display: block;
    width: fit-content;
    background: var(--primary);
    color: var(--secondary);
    border: 0.2rem solid var(--secondary);
    border-radius: 3rem;
    transition: all 0.1s;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.2rem;
    z-index: 0;
}
.orders label:not(.background-blur):hover {
    color: var(--primary);
    background: var(--secondary-bright);
    border: 0.2rem solid var(--secondary-bright);
    box-shadow: 0 0 1rem var(--secondary-hot);
}

.orders select {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    padding-right: 2rem;
}

/*--Too small--*/
@media screen and (max-width: 400px) {
    .modalContent {
        padding: 0.5rem;
    }
}