.ordersContainer {
  padding: 1rem;
  margin-bottom: 2rem;
}
.ordersContainer p {
    text-align: center;
}
.ordersContainer div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 1rem;
  justify-content: center;
}
.ordersContainer div.details {
    margin: 1rem 0;
}
.ordersContainer div p {
    margin: 0;
}
.ordersContainer .orderItemsContainer .order-preview {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    padding: 0.8rem 2rem;

    transition: all 0.2s ease;
}
.ordersContainer .orderItemsContainer .order-preview:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 18px var(--secondary-shadow),
        0 0 28px var(--secondary-cold-dark);
}
.ordersContainer .orderItemsContainer .order-preview img {
    width: 100%;
    aspect-ratio: 4/3;

    object-fit: cover;
    border-radius: 1rem;
    border: 0.15rem solid var(--secondary);
}
.ordersContainer .orderItemsContainer .order-preview .infos {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0.2rem;
}
.ordersContainer .orderItemsContainer .order-preview .title {
    color: var(--secondary-bright);
    font-size: 1.1rem;
    font-weight: 600;
}
.ordersContainer .orderItemsContainer .order-preview .meta {
    color: var(--white);
    opacity: 0.8;
    font-size: 0.9rem;
}
.ordersContainer .orderItemsContainer .order-preview .price {
    color: var(--pastel-orange);
    font-weight: 700;
}