div.background-blur {
    display: none;
    visibility: hidden;
    opacity: 0;
    inset: unset;
}
div.background-blur.active {
    display: block;
    visibility: visible;
    opacity: 1;
    inset: 0;
}

/* Cache checkbox */
.modalToggle {
    display: none;
}

/* Container modal */
.modal {
    display: none;
}

/* Affichage si checked */
.modal:has(.modalToggle:checked) {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
}

/* Contenu centré */
.modalContent {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    max-width: 80rem;
    padding: 2rem;
    overflow: auto;
}

.orders {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    gap: 2rem;
    justify-content: center;
}

/* Bouton fermer */
.closeBtn {
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.orderCard {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.2rem;
}
.orderCard h3 {
    width: 100%;
    text-align: center;
    margin: 0;
}
.orderCard ul {
    width: 100%;
    margin: 0;
    flex: 1;
}
.orderCard label.openModalBtn {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

h2 {
    text-align: center;
}

.update-order-btn{
    margin: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.orders label:not(.background-blur) {
  background: var(--primary);
  color: var(--secondary);
  border: 0.2rem solid var(--secondary);
  border-radius: 3rem;
  transition: all 0.1s;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.2rem;
  z-index: 0;
}
.orders label:not(.background-blur):hover {
  color: var(--primary);
  background: var(--secondary-bright);
  border: 0.2rem solid var(--secondary-bright);
  box-shadow: 0 0 1rem var(--secondary-hot);
}

.orders select {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    padding-right: 2rem;
}
